
@{
    ViewData["Title"] = "Index2";
}

<h2>Decrypt</h2>


<form action='Result2' method='POST' align="left">
    <div>    

        <label>
            Please enter a message to decrypt:
        </label><br><br>
        <input name="decrypt" type="text" value="" />
        <br /><br />
        <input type="submit" value="Decrypt Message" />

    </div>

</form>